@font-face {
    font-family: HelveticaLTStd-Roman;
    src: url("../fonts/helvetica-lt-std-roman.otf");
}


body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

a {
   text-decoration: none;
}

.button {
  padding: 17px 31px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  background-color: #00b0ff;
}

.button:hover {
  font-size: 16px;
  outline: 5px solid #00b0ff;
}

.link {
  padding-bottom: 2px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #00b0ff;
  color: #00b0ff;
}

.link:hover {
  font-weight: 700;
  border-bottom: 2px solid #00b0ff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1920px;
  margin: 0 auto;
}

.main-header {
  position: relative;
  background-color: #97b3ce;
  background-image: url("../img/background-header.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.main-navigation {
  display: flex;
  padding: 32px 374px;
}

.header-logo {
  width: 174px;
  height: 27px;
  margin-right: 110px;
}

.site-navigation {
  width: 630px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 30px 0 30px;
  user-select: none;
}

.site-navigation a {
  padding: 5px 10px 2px 11px;
  /*margin-left: 2px;*/
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  vertical-align: bottom;
  color: #000000;
}

.site-navigation a:hover {
  background-color: #00b0ff;
  color: #ffffff;
}

.social-header {
  display: flex;
  list-style: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.social-btn {
  display: flex;
  width: 36px;
  height: 36px;
  margin-left: 10px;
  background-color: #000000;
  border-radius: 50%;
}

.social-btn:hover {
  background-color: #ffffff;
}

.social-fb{
  background-image: url("../img/fb-white.png");
  background-repeat: no-repeat;
  background-position: center;
}

.social-fb:hover  {
  background-image: url("../img/fb-black.png");
  background-repeat: no-repeat;
  background-position: center;
}

.social-inst {
  background-image: url("../img/inst-white.png");
  background-repeat: no-repeat;
  background-position: center;
}

.social-inst:hover {
  background-image: url("../img/inst-black.png");
  background-repeat: no-repeat;
  background-position: center;
}

.social-mail {
  background-image: url("../img/mail-white.png");
  background-repeat: no-repeat;
  background-position: center;
}

.social-mail:hover {
  background-image: url("../img/mail-black.png");
  background-repeat: no-repeat;
  background-position: center;
}

.lead {
  padding: 98px 200px 368px 200px;
  text-align: center;
  font-family: 'Playfair Display', "Times New Roman", serif;
  user-select: none;
}

.lead-paragraph-one {
  margin: 0;
  margin-bottom: 14px;
  padding-left: 5px;
  font-size: 50px;
  line-height: 50px;
  font-style: italic;
  text-align: center;
}

.lead-paragraph-two {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-style: italic;
  text-align: center;
  color: #ffffff;
}

.main-header .gradient {
  position: absolute;
  bottom: 0px;
  z-index: 2;
  width: 1920px;
  height: 315px;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 20%, rgba(255, 255, 255, 0.6) 40%, rgba(255, 255, 255, 0.4) 60%, transparent 100%);
}

.catalog-item {
  display: flex;
  position: relative;
  top: -216px;
  width: 1028px;
  box-sizing: border-box;
  z-index: 3;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow:1px 1px 30px 8px rgba(0,0,0,0.34);
}

.title-item-boards {
  position: absolute;
  top: 133px;
  right: -297px;
  font-weight: "Montserrat", "Arial", sans-serif;
  font-size: 127px;
  line-height: 127px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 25.7px;
  transform: rotate(270deg);
  color: #000000;
  opacity: 0.03;
}

.catalog-item-photos {
  display: flex;
  background-image: url("../img/corner-background.png");
  background-repeat: no-repeat;
  padding: 45px 22px 27px 27px;
}

.catalog-item-photos img {
  margin-right: 25px;
}

.small-photo {
 margin-top: 110px;
 display: flex;
 flex-direction: column;
}

.small-photo img {
  margin-bottom: 4px;
  border: 1px solid #cccccc;
}

.small-photo .active {
  border: 3px solid #00b0ff;
}

.catalog-item-description {
  padding: 40px 50px 27px 0;
}

.item-name {
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 26px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
}

.pagination-list {
  position: absolute;
  right: -37.5px;
  top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75px;
  height: 38px;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f2d800;
}

.pagination-item-prev {
  display: block;
  width: 38px;
  height: 38px;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.pagination-item-next {
  display: block;
  width: 38px;
  height: 38px;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: rotate(180deg);
}

.pagination-item-prev:hover,
.pagination-item-next:hover {
  background-color: #d4bd00;
}

.top-surf {
  display: flex;
  align-items: center;
}

.top-stars {
  margin-right: 8px;
}

.top-stars img {
  margin: 0;
}

.top-count {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  color: #787878;
}

.page-number {
  height: 36px;
  position: absolute;
  top: 74px;
  right: 0;
  box-sizing: border-box;
  padding: 6px 10px 4px 10px;
  text-align: center;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  color: #ffffff;
  background-color: #000000;
}

.notebook-controls label {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  margin-right: 30px;
  padding: 3px 0 5px 0;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: #a0a0a0;
}

.description-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@keyframes description {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

/* overflow content???  */

.description-item {
  display: none;
  box-sizing: border-box;
  animation: description;
  animation-duration: 0.8s;
  height: 223px;
  padding:9px 0;
  font: inherit;
  border-top: 1px solid #d9d9d9;
  text-overflow: ellipsis;     /*overflow*/
  overflow: hidden;            /*overflow*/
}

#notebook-1:checked ~ .description-list .description-item:nth-child(1) {
  display: block;
}

#notebook-2:checked ~ .description-list .description-item:nth-child(2) {
  display: block;
}

#notebook-3:checked ~ .description-list .description-item:nth-child(3) {
  display: block;
}

#notebook-1:checked ~ .notebook-controls .notebook-controls-item--1,
#notebook-2:checked ~ .notebook-controls .notebook-controls-item--2,
#notebook-3:checked ~ .notebook-controls .notebook-controls-item--3 {
  color: #000000;
  border-bottom: 3px solid #00b0ff;
  margin-bottom: -3px;
}

.buy-container {
  display: flex;
  margin-bottom: 78px;
}

.price-info {
  margin: 0;
  margin-right: 28px;
  padding: 12px 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.about-us {
  position: relative;
  z-index: 1;
  top: 85px;
  padding: 298px 0 274px 0;
  background-image: url("../img/bg-about.jpg");
  background-repeat: no-repeat;
}

.gradient-about {
  position: absolute;
  top: 0px;
  z-index: 2;
  width: 1920px;
  height: 640px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 20%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.2) 60%, transparent 100%);
}

.title-about-us {
  position: absolute;
  top: -300px;
  left: 410px;
  font-weight: "Montserrat", "Arial", sans-serif;
  font-size: 196px;
  line-height: 196px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 25.7px;
  color: #000000;
  opacity: 0.03;
}

.about-us-description {
  position: relative;
  z-index: 3;
  width: 946px;
  box-sizing: border-box;
  padding: 98px 128px 42px 475px;
  background-color: #ffffff;
}

.about-us-description h3 {
  position: relative;
  margin: 0;
  margin-left: 45px;
  margin-bottom: 59px;
  text-align: center;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.cross::before {
  position: absolute;
  left: 47%;
  top: 33px;
  content: "";
  width: 1px;
  height: 16px;
  background-color: #000000;
  transform: rotate(45deg);
}

.cross::after {
  position: absolute;
  left: 47%;
  top: 33px;
  content: "";
  width: 1px;
  height: 16px;
  background-color: #000000;
  transform: rotate(-45deg);
}

.about-us-description p {
  margin: 0;
  margin-bottom: 22px;
  font-family: 'Playfair Display', "Times New Roman", serif;
  font-size: 22px;
  line-height: 38px;
  font-style: italic;
  font-weight: 400;
}

.about-us-video {
  position: absolute;
  z-index: 4;
  left: 1015px;
  top: 560px;
}
